.content {
    margin-top: 64px;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border: 1px solid var(--neutral-600);
    border-radius: 24px;
    overflow: hidden;
}

.title_container {
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subtitle {
    color: var(--neutral-400);
    margin-top: 16px;
}

.button {
    margin-top: 24px;
}

.image_container {
    position: relative;
    height: 600px;
}

.button .circle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: var(--neutral-900);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .content {
        margin-top: 48px;
        margin-bottom: 48px;
        grid-template-columns: 1fr;
    }

    .image_container {
        height: 500px;
    }
}

@media (max-width: 480px) {
    .title_container {
        padding: 48px 24px;
    }

    .title {
        font-size: 40px;
        line-height: 52px;
        letter-spacing: -0.54px;
    }

    .image_container {
        height: 300px;
    }
}
