.section {
    height: 100vh;
    width: 83vw;
}

.content {
    margin-top: 15px;
    margin-bottom: 64px;
    margin-left: 192px;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    overflow: hidden;
}

.table {
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(1, 3fr);
}

.balance_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.feature_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

.address_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.account_img {
    position: relative;
    height: 108px;
    width: 108px;
    border-radius: 10%;
    border:  1px solid var(--branding-200);;
    overflow: hidden;
}

.btn_receive {
    width: 42px;
    height: 42px;
    background: none;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 0 1.5px var(--success-600) inset;
    color: var(--branding-200);
}

.btn_send {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: none;
    border: none;
    box-shadow: 0 0 0 1.5px var(--cyan-600) inset;
    color: var(--branding-200);
}

.btn_remove {
    height: 48px;
    margin-top: 24px;
}

.title span {
    color: var(--branding-200);
}

.big_title {
    color: var(--branding-200);
    margin-left: 216px;
}

.history {
    margin-left: 216px;
    margin-top: 24px;
}

.original {
    color: var(--neutral-400);
}

.divider {
    margin-top: 32px;
    border-bottom: 1px solid var(--neutral-600);
    margin-left: 216px;
    width: 100%;
}

.divider_table {
    margin-top: 12px;
    border-bottom: 1px solid var(--neutral-600);
    width: 100%;
}

.transaction {
    flex-direction: row;
}

.text_receive {
    color: var(--success-500);
}

.text_send {
    color: var(--cyan-500);
}

.title_container {
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.transactionTable {
    margin-left: 216px;
    gap: 10px;
}

.subtitle {
    color: var(--neutral-400);
    margin-top: 16px;
}

.button {
    margin-top: 16px;
}

.image_container {
    position: relative;
    height: 600px;
}

.button .circle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: var(--neutral-900);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1280px) {
    .title {
        font-size: 36px;
        line-height: auto;
        letter-spacing: -2%;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .title {
        font-size: 32px;
        line-height: 72px;
        letter-spacing: -0.96px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 24px;
        line-height: 56px;
        letter-spacing: -0.64px;
    }

    .subtitle {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.32px;
    }
}

.dropdown_btn {
    background: #0a0a0a;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.share_btn {
    color: var(--beige-200);
    display: flex;
    align-items: center;
    gap: 4px;
}

.dropdown_btn span {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

.dropdown_btn span:hover {
    background-color: var(--branding-300);
}

.dropdown_btn span svg {
    stroke: var(--neutral-900);
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

.dropdown_btn_open span svg {
    transform: rotate(45deg);
}

.dropdown_menu {
    position: absolute;
    top: 64px;
    right: 0;
    width: 216px;
    background-color: var(--branding-200);
    box-shadow: 0px 16px 32px -12px rgba(251, 255, 71, 0.32);
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.dropdown_menu_open {
    opacity: 1;
    visibility: visible;
}

.dropdown_link {
    color: var(--neutral-900);
    padding: 16px;
    width: 100%;
    text-align: left;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

.dropdown_link:hover {
    background-color: var(--branding-300);
}

.toggle_btn {
    display: none;
}

/* transaction.module.css */

.transactionType {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
    gap: 8px;
    margin-top: 12px;
}

.transactionType .btn {
    padding: 4px 4px;
    background-color: transparent;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.transactionType .rate {
    font-size: 14px;
    font-weight: 500;
    margin-left: 4px;
}

.transactionAmount {
    /*display: flex;*/
    align-items: center;
    gap: 12px;
}

.img {
    position: relative;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    overflow: hidden;
}

.rowContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    flex: 3;
    margin-top: 12px;
}

.content_3 {
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-top: 12px;
    flex: 1;
}
