.button {
    margin-top: 0px;
}

.button .circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--neutral-900);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--beige-200);
    cursor: pointer;
}

.dropdown_btn span {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--branding-200);
    border: none;
    cursor: pointer;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

.dropdown_btn span:hover {
    background-color: var(--branding-300);
}

.dropdown_btn span svg {
    stroke: var(--neutral-900);
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

.dropdown_btn_open span svg {
    transform: rotate(45deg);
}
