.section {
    border-top: 0.5px solid var(--neutral-600);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.title {
    font-size: 200px;
    line-height: 1.2;
    text-align: center;
    -webkit-mask-image: linear-gradient(
        -75deg,
        rgba(19, 19, 19, 0.6) 30%,
        #000 50%,
        rgba(19, 19, 19, 0.6) 70%
    );
    -webkit-mask-size: 200%;
    animation: shine 2s linear infinite;
}

.links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.link {
    position: relative;
    color: var(--beige-200);
    font-weight: 700;
}

.link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 2px;
    background-color: var(--white);
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
    transform: scaleX(0);
    transform-origin: 0% 100%;
}

.link:hover::before {
    transform: scaleX(1);
}

.divider {
    height: 24px;
    width: 0.5px;
    background-color: var(--beige-200);
}

.separator {
    width: 100%;
    height: 0.5px;
    background-color: var(--neutral-600);
}

.terms {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy {
    color: var(--neutral-400);
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

@media (max-width: 768px) {
    .container {
        gap: 48px;
    }

    .title {
        font-size: 100px;
    }
}

@media (max-width: 430px) {
    .title {
        font-size: 64px;
    }

    .links {
        flex-direction: column;
        gap: 24px;
    }

    .divider {
        width: 24px;
        height: 0.5px;
    }

    .terms {
        flex-direction: column;
        gap: 24px;
    }
}
